<p>error-page works!</p>

<ul>
    <li>
        <a href="" routerLink="/auth/login">Login</a>
    </li>
    <li>
        <a href="" routerLink="/auth/registro">Ir a registro</a>
    </li>
    <li>
        <a href="" routerLink="/heroes/listado">Listado de heroes</a>
    </li>
    <li>
        <a href="" routerLink="/heroes/agregar">Agregar un heroe</a>
    </li>
    <li>
        <a href="" routerLink="/heroes/editar/:id">Editar un heroe</a>
    </li>
    <li>
        <a href="" routerLink="/heroes/buscar">Buscar heroes</a>
    </li>
    <li>
        <a href="" routerLink="/heroes/:id">Info de un heroe</a>
    </li>

</ul>
